<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

    <!--放行静态资源，否则页面无法加载样式和图片等。改完要restart才会生效，redeploy可能不会生效-->
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <!--登录失败页面不走拦截器，否则无法跳转到登录失败页面-->
    <security:http pattern="/failer.jsp" security="none"/>

    <security:http auto-config="true" use-expressions="true">
        <!--放行login.jsp，注意，必须放在/**拦截器的前面-->
        <security:intercept-url pattern="/login.jsp" access="permitAll()"/>
        <!--拦截所有请求，只允许角色ROLE_USER用户访问-->
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>

        <!--配置登录页面和请求，以及失败的页面-->
        <security:form-login login-page="/login.jsp"
                             default-target-url="/login"
                             authentication-failure-url="/failer.jsp"
                             username-parameter="username"
                             password-parameter="password"/>
        <!--配置登出信息-->
        <security:logout logout-url="/logout" logout-success-url="/logout.jsp"/>
        <!--配置remember me拦截器，有效期七天-->
        <security:remember-me token-validity-seconds="604800"/>

        <!--当用户访问无权限页面时，会报AccessDeniedException，该处理器用户处理改异常，并跳转到403页面-->
<!--        <security:access-denied-handler error-page="/403.jsp"/>-->
    </security:http>

    <!--注入密码加密类-->
    <bean name="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userServiceImpl">
            <security:password-encoder ref="bCryptPasswordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>